<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Add User</h3>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="x_panel">
							<div class="col-md-12">
								<% if(message.length){ %>
								<div class="alert alert-danger">
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
										<span><%=message%></span>
								</div>
								<% } %>
								
							</div>
						<div class="x_content">
						
								<form id="signup_form" id="signup_form" action="/user/signup" method="POST" >
									
									<div class="modal-body">
										<div class="form-group">
											<label for="first_name">First Name</label>
											<input id="firstname" type="text" value="" name="firstname" class="form-control disable" required  />
										</div>
										<div class="form-group">
											<label for="last_name">Last Name </label>
											<input id="lastname" type="text" value="" name="lastname" class="form-control disable"  required />
										</div>
										<div class="form-group">
											<label for="username">Username</label>
											<input id="username" type="text" value="" name="username" class="form-control disable" required  />
										</div>
										<div class="form-group">
											<label for="password">Password </label>
											<input id="password" type="password" value="" name="password" class="form-control disable" required  />
										</div>
										<div class="form-group">
											<label for="password">Role </label>
											<select class="form-control disable" id="role" name="role" required>
												<option value="">Select Role</option>
												<option value="1">Supper Admin</option>
												<option value="2">Admin</option>
												<option value="2">Agent</option>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
									</div>
								</form>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
<script>
$('#signup_form').on('init.field.fv', function (e, data) {
	var $parent = data.element.parents('.form-group'),
			$icon = $parent.find('.form-control-feedback[data-fv-icon-for="' + data.field + '"]');
	$icon.on('click.clearing', function () {
		if ($icon.hasClass('glyphicon-remove')) {
			data.fv.resetField(data.element);
		}
	});
})
.formValidation({
	framework: 'bootstrap',
	icon: {
		valid: 'glyphicon glyphicon-ok',
		invalid: 'glyphicon glyphicon-remove',
		validating: 'glyphicon glyphicon-refresh'
	},
	fields: {
		firstname: {
			threshold: 30,
			verbose: false,
			validators: {
				notEmpty: {
					message: 'Firstname is required'
				},
			}
		},
		lastname: {
			threshold: 30,
			verbose: false,
			validators: {
				notEmpty: {
					message: 'Last name is required'
				},
			}
		},
		username: {
			threshold: 2,
			verbose: false,
			validators: {
				notEmpty: {
					message: 'Username is required'
				},
				remote: {
					url: 'http://localhost:3000/validation/username',
					data: function (validator, $field, value) {
						return {
							username: validator.getFieldElements('username').val()
						};
					},
					message: 'Username is already exist',
					type: 'POST',
				},
			}
		},
		password: {
			threshold: 30,
			verbose: false,
			validators: {
				notEmpty: {
					message: 'Password is required'
				},
			}
		},
		role: {
			threshold: 30,
			verbose: false,
			validators: {
				notEmpty: {
					message: 'Please select role'
				},
			}
		},
	}
}).on('success.form.fv', function (e) {
	return true;
});
</script>