<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Girnar Parivahan </title>
  </head>

    <body>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row"  style="margin-left: 50px;">    
                        Token:<%=token%><br/>
                        Insurance Token:<%=insuranceToken%>         
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>