<div class="right_col" role="main" style="min-height:100%">
    <div class="page-title">
        <!--div class="row">
            <div class="col-md-6">
              <h3>Dashboard</h3>
            </div>
        </div-->
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="x_title">
        <h2>Four Wheelers</h2>
        <!--<div class="filter">
          <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
          </div>
        </div>-->
          <!--a href="#" class="pull-right view-all-txt">View All</a-->
        <div class="clearfix"></div>
    </div>
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="#">
            <div class="tile-stats">
              <div class="icon"><img src="images/total-calls.svg" title="" alt="" /></div>
              <div class="count">5876</div>
              <span>Total Registrations</span>
            </div>
            </a>
        </div>
        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="#">
                <div class="tile-stats">
                    <div class="icon"><img src="images/connected-calls.svg" title="" alt="" /></div>
                    <div class="count">1792</div>
                    <span>Approved Registrations</span>
                </div>
            </a>
        </div>
        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="#">
                <div class="tile-stats">
                    <div class="icon"><img src="images/missed-calls.svg" title="" alt="" /></div>
                    <div class="count">5079</div>
                    <span>Pending Registrations</span>
                </div>
            </a>
        </div>
    </div>
    <br>
    <div class="x_title">
        <h2>Two Wheelers</h2>
          <!--a href="#" class="pull-right view-all-txt">View All</a-->
        <div class="clearfix"></div>
    </div>
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="#">
                <div class="tile-stats">
                    <div class="icon"><img src="images/total-calls.svg" title="" alt="" /></div>
                    <div class="count">1179</div>
                    <span>Total Registrations</span>
                </div>
            </a>
        </div>
        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="#">
                <div class="tile-stats">
                    <div class="icon"><img src="images/connected-calls.svg" title="" alt="" /></div>
                    <div class="count">4579</div>
                    <span>Approved Registrations</span>
                </div>
            </a>
        </div>
        <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="#">
                <div class="tile-stats">
                    <div class="icon"><img src="images/missed-calls.svg" title="" alt="" /></div>
                    <div class="count">179</div>
                    <span>Pending Registrations</span>
                </div>
            </a>
        </div>
    </div>
</div>
<style>
.tile-stats{
  padding-bottom: 15px;
}
.tile-stats .count, .tile-stats h3, .tile-stats p {
    color: #1abb9c;
    margin-left: 15px;
    font-size: 34px;
}

.tile-stats span {
    color: #73879C;
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.tile-stats .icon {
    width: 34px;
    height: 34px;
    right: 15px;
    top: 35px;
}

.tile-stats:hover{
  background: #1abb9c;
}

.tile-stats:hover span{color: #fff;}
.tile-stats:hover .count {color: #fff;}
</style>